In [ ]:
NumeroIdentificacion = 1020718231
print (NumeroIdentificacion)

1020718231

In [ ]:
nombre ="Maria del Pilar"
apellido = "Paez Prieto"
print (nombre + " " + apellido)

Maria del Pilar Paez Prieto

In [ ]:
Direccion = "calle 147 No. 8-32"
print(Direccion)

calle 147 No. 8-32

In [ ]:
Estadocivil = "casado"
print (Estadocivil)

casado

In [ ]:
telefono = 323573837
print (telefono)

323573837

In [ ]:
Numerodehijos = 3
print (Numerodehijos)

3

In [ ]:
edad = 30  
print (edad)

30

In [ ]:
estatura = 1.72
print(estatura)

1.72

In [ ]:
fechadecontratacion = "15/05/2023"
print (fechadecontratacion)

15/05/2023

In [ ]:
sueldobasico =5000000
print (sueldobasico)

5000000

In [ ]:
diaslaborados = (28)
print (diaslaborados)

28

In [ ]:
diaslaborados=input

OPERADORES MATEM√ÅTICOS PYTON

In [ ]:
num1= 9
num2= 10
res=(num1+num2)
print(res)

19

In [ ]:
#para datos float (input)
#parada datos numericos int
corchetes es para